# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.idea/
build
# Editor/IDE
# .idea/
# .vscode/
/api-docs/
/docker-examples/postgres_14/data/
/examples/test_secure_redis/redis/tls/ca.crt
/examples/test_secure_redis/redis/tls/ca.key
/examples/test_secure_redis/redis/tls/ca.txt
/examples/test_secure_redis/redis/tls/redis.crt
/examples/test_secure_redis/redis/tls/redis.key
/examples/test_tls_conn/redis/tls/ca.crt
/examples/test_tls_conn/redis/tls/ca.key
/examples/test_tls_conn/redis/tls/ca.txt
/examples/test_tls_conn/redis/tls/redis.crt
/examples/test_tls_conn/redis/tls/redis.key
/docker-examples/redis/tls/ca.crt
/docker-examples/redis/tls/ca.key
/docker-examples/redis/tls/ca.txt
/docker-examples/redis/tls/redis.crt
/docker-examples/redis/tls/redis.key
/redis/
